<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aller à Kehl</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css?v=2">
    <link rel="icon" href="/flag.svg">

    <meta name="twitter:card" content="summary"/>
    <meta property="og:url" content="https://www.allerakehl.com"/>
    <meta property="og:title" content="Aller à Kehl"/>
    <meta property="og:description" content="Est-il possible d'aller à Kehl actuellement ?"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image" content="https://www.allerakehl.com/screenshot.png"/>
    <meta property="og:image:url" content="https://www.allerakehl.com/screenshot.png"/>
    <meta property="og:image:secure_url" content="https://www.allerakehl.com/screenshot.png"/>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          {% block content endblock %}
        </div>
      </div>
    </div>
    <script src="/bundle.js?v=2"></script>
  </body>
</html>
