{% extends "base.twig" %}

{% block content %}
  <section class="main">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-9 col-xl-8">
        <h1>Est-ce qu'on peut aller à Kehl ?</h1>
        <h2>
          <strong>Non,</strong>
          <span>mais tu peux toujours aller au Morfal.</span>
        </h2>
      </div>
    </div>
  </section>

  <section class="vote">
    <div class="vote__btns">
      <a href="#" class="vote__btn vote__btn--approve">Approuver</a>
      <a href="#" class="vote__btn vote__btn--deny">Rejeter</a>
    </div>
  </section>

  <section class="sources"></section>
{% endblock %}
