{% extends "base.twig" %}

{% block content %}
  <section class="header">
    <nav>
      <a href="https://github.com/jverneaut/khel">
        <span>Code source</span>
        <img src="/github.svg" alt="">
      </a>
    </nav>
  </section>

  <section class="main">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-9 col-xl-8">
        <h1>Est-ce qu'on peut aller à Kehl ?</h1>
        <h2>
          <strong>Non,</strong>
          <span>mais tu peux toujours aller au Morfal.</span>
        </h2>
      </div>
    </div>
  </section>

  <section class="vote">
    <div class="vote__btns">
      <a href="#" class="vote__btn vote__btn--approve">Approuver</a>
      <a href="#" class="vote__btn vote__btn--deny">Rejeter</a>
    </div>
  </section>

  <section class="sources"></section>

  <section class="footer">
    <p>
      <span>Développé en Alsace par les cerveaux derrière</span>
      <a href="https://www.strasbourre.fr">StrasBourre.</a>
    </p>
  </section>
{% endblock %}
