.main {
}

.main {
  padding: 120px 0;
  padding-bottom: 24px;
}

.main h1 {
  font-size: 16px;
  color: $oc-gray-5;
  font-weight: 400;
}

.main h2 {
  margin-top: 12px;
  font-size: 36px;
  letter-spacing: -0.5px;
}

.main h2 strong {
  font-weight: 600;
  color: $oc-gray-8;
}

.main .message {
  margin-bottom: 40px;
  background: $oc-gray-1;
  padding: 12px 16px;
  border: 1px solid $oc-gray-2;
}

.main .message h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: inherit;
}

.main .message--voted {
  background-color: $oc-green-1;
  border-color: $oc-green-2;
  color: $oc-green-9;
}

.main .message--error {
  background-color: $oc-red-1;
  border-color: $oc-red-2;
  color: $oc-red-9;
}
