.main {
}
.main {
  padding: 120px 0;
  padding-bottom: 80px;
}

.main h1 {
  font-size: 16px;
  color: $oc-gray-5;
}

.main h2 {
  font-size: 40px;
  color: $oc-gray-7;
}

.main h2 strong {
  color: $oc-gray-9;
  font-weight: 700;
}
