.vote {
  margin-top: 32px;
}

.vote__btns {
  display: flex;
}

.vote__btn {
  background: $oc-gray-1;
  border-radius: 8px;
  padding: 16px 24px;
  padding-left: 56px;
  position: relative;
  text-decoration: none;
  color: black;
  display: inline-block;
  margin-right: 8px;

  &--approve {
    background: $oc-green-2;
  }

  &--deny {
    color: $oc-gray-7;
  }
}

.vote__btn span:first-child {
  background: white;
  width: 24px;
  height: 24px;
  content: '';
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 24px;
  top: 50%;
  transform: translate(0px, -50%);
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
}

.vote form {
  display: none;
  margin-top: 24px;

  &.active {
    display: block;
  }
}

.vote h4 {
  font-size: 20px;
}
