.vote {
  margin-top: 32px;
}

.vote__btns {
  display: flex;
}

.vote__btn {
  background: $oc-gray-1;
  border-radius: 8px;
  padding: 16px 24px;
  padding-left: 56px;
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin-right: 8px;
  transition: 0.2s;
  color: $oc-gray-7;

  &:hover {
    color: $oc-gray-9;
    background: $oc-gray-2;
  }
}

.vote__btn--approve.vote__btn--active {
  color: $oc-gray-9;
  background: $oc-green-4;
  &:hover {
    background: $oc-green-5;
  }
}

.vote__btn--deny.vote__btn--active {
  color: $oc-gray-9;
  background: $oc-orange-4;
  &:hover {
    background: $oc-orange-5;
  }
}

.vote__btn span:first-child {
  background: white;
  width: 32px;
  height: 32px;
  content: '';
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 16px;
  top: 50%;
  transform: translate(0px, -50%);
  border-radius: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.vote form {
  display: none;
  margin-top: 24px;

  &.active {
    display: block;
  }
}

.vote h4 {
  font-size: 20px;
}
