.vote {
  margin-top: 32px;
}

.vote__btns {
  display: flex;
}

.vote__btn {
  background: $oc-gray-1;
  border-radius: 8px;
  padding: 16px 24px;
  padding-left: 56px;
  position: relative;
  text-decoration: none;
  color: black;
  display: inline-block;
  margin-right: 8px;

  &::before {
    background: white;
    width: 20px;
    height: 20px;
    content: '';
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translate(0px, -50%);
    border-radius: 20px;
  }

  &--approve {
    background: $oc-green-2;
    &::before {
      background: $oc-green-4;
    }
  }

  &--deny {
  }
}

.vote form {
  display: none;
  margin-top: 24px;

  &.active {
    display: block;
  }
}

.vote h4 {
  font-size: 20px;
}
